extends templates/layout.pug

block content
  form(method='post')
    input(type='text' name='title' value=video.title placeHolder='Video title' required)
    input(type='text' name='description' value=video.description placeHolder='Video Description' required)
    span ※ Hashtags separated by comma 
    input(type='text' name='hashtags' value=video.hashtags.join(',') placeHolder='Video Hashtags' required)
    input(type='submit' value='Edit')