header
  h2=pageTitle
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/videos/upload') Upload Video
      li
        a(href='/search') Search Video
      if !loggedIn
        li
          a(href='/login') Login
      else
        li
          a(href='/logout') Log out
        li
          a(href=`/users/${user._id}/edit`) My profile
      li
        a(href='/join') join